.sign-in .bg-effect {
    background-image: url(/assets/images/bg-login.jpeg);
    width: 100%;
    position: fixed;
    height: 105%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    filter: blur(4px);
    
}


/* SignUpPage  */

#SignUpPage {
    background: rgba(255, 255, 255, 0.7);
    padding: 35px;
    border-radius: 5px;
    margin-top: 20vh;
}

#SignUpPage button.button i{ display:block; margin-right: 5px;}