.sign-in  {
    background-image: url(/assets/images/bg-login.jpg);
    width: 100%;
    position: fixed;
    height: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#SignUpPage {
    background: rgba(255, 255, 255, 0.7);
    padding: 35px;
    border-radius: 5px;
    margin-top: 20vh;
}

#SignUpPage button.button i{ display:block; margin-right: 5px;}