<section class="sign-in">
    <div class="bg-effect"></div>
    <div class="container">
        <div class="columns">
            <div class="column"> </div>
            <div class="column">
                <div id="SignUpPage">
                    <figure class="has-text-centered field">
                        <img src="assets/images/logotipo.png" alt="logotipo">
                    </figure>
                    <form id="LoginForm" *ngIf="address; else notConnected">
                        <p>{{address}}</p>
                        <div class="field">
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" type="text" placeholder="Text input" value="">
                                <span class="icon is-small is-left">
                            <i class="fa fa-user"></i>
                            </span>
                                <span class="icon is-small is-right">
                            <i class="fa fa-check"></i>
                            </span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                            <input type="checkbox">
                            Enterprise 
                            </label>
                            </div>
                        </div>
                        <div class="control has-text-centered">
                            <button (click)="registerAccount();" type="button " class="button is-primary ">Submit</button>
                        </div>
                    </form>
                    <ng-template #notConnected>
                        <p>Faça login no metamask!</p>
                    </ng-template>
                </div>
            </div>
            <div class="column "> </div>
        </div>
    </div>
</section>