<nav class="breadcrumb bgBlue" aria-label="breadcrumbs" style="margin-bottom:0;">
    <div class="container">
        <a [routerLink]="['/dashboard']" class="is-pulled-left is-inline-flex logo"><img src="assets/images/logotipo-white.png" alt="linkedChain"></a>
        <ul class="is-pulled-right is-inline-flex">
            <li><a [routerLink]="['/certificates']">Certificates</a></li>
            <li><a [routerLink]="['/account']">Account</a></li>
            <li><a [routerLink]="['/assign']">Assign</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
<footer class="footer">
    <div class="container">
        <div class=" has-text-centered">
            <p>
                <strong>LinkedChain</strong> <a href="https://wallet.pixels.camp/?to=0x609c0e60e9a0b0c3aa3d144c79ca0d301543010b#send-transaction">0x609c0e60e9a0b0c3aa3d144c79ca0d301543010b</a> </a>
                <i>Pixels Camp</i>
            </p>
        </div>
    </div>
</footer>