.account-dashboard .name {
    letter-spacing: 0.3px;
    color: #05A2C5;
    font-size: 16px;
    line-height: 16px;
}

.account-dashboard .table {
    width: 100%;
}

.account-dashboard .table td, .account-dashboard .table th {
    border: 0;
    border-bottom: 1px solid rgba(5, 165, 197, 0.2);
    padding-left: 0;
}

.account-dashboard .table tr:hover {
    background-color: rgba(5, 165, 197, 0.05);
}

.account-dashboard  .ranking i{position: relative;}
.account-dashboard  .ranking i.fa{font-size: 34px; color: rgb(255, 208, 0); text-align:center;}
.account-dashboard  .ranking i.fa span{position: absolute; left: 0; right:0; top:9px; margin:auto; font-size: 16px; display:inline-block; color: black; font-family: roboto;}