.account-dashboard .name {
    letter-spacing: 0.3px;
    color: #05A2C5;
    font-size: 16px;
    line-height: 16px;
}

.account-dashboard .table {
    width: 100%;
}

.account-dashboard .table td, .account-dashboard .table th {
    border: 0;
    border-bottom: 1px solid rgba(5, 165, 197, 0.2);
    padding-left: 0;
}

.account-dashboard .table tr:hover {
    background-color: rgba(5, 165, 197, 0.05);
}