<nav class="breadcrumb bgBlue" aria-label="breadcrumbs">
    <div class="container">
        <a href="#" class="is-pulled-left is-inline-flex logo"><img src="assets/images/logotipo-white.png" alt="linkedChain"></a>
        <ul class="is-pulled-right is-inline-flex">
            <li><a href="#">Certificates</a></li>
            <li class="is-active">Account</li>
        </ul>
    </div>
</nav>
<section class="account-dashboard generalSection">
    <div class="container">
        <div class="columns">
            <div class="column is-three-quarters">
                <span class="name">Hello,<br>Developer Name!</span>
            </div>
            <div class="column has-text-right">
                <p class=""><strong>X points</strong></p>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Qualification</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>sdas</td>
                    <td><a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage" title="2016–17 UEFA Champions League">Champions League group stage</a></td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td>Team</td>
                    <td>Qualification</td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class=" has-text-centered">
            <p>
                <strong>LinkedChain</strong> by <a href="http://jgthms.com">Team Power</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
            </p>
        </div>
    </div>
</footer>