/* You can add global styles to this file, and also import other style files */
body{font-family: 'Roboto', sans-serif;}
body a {
    color: #00b7fa;
}
/* helpers */
body .generalSection{padding:50px 0;}

/* heddings*/
body h1, body h2,body h3, body h4 {font-weight: 700;}
body h1{font-size: 48px; }
body h2{font-size: 42px;}
body h3{font-size: 36px;}
body h4{font-size: 28px;}
body h5{font-size: 28px;}
body p{font-size: 14px; font-weight: 400;}
body p strong{font-weight: 700;}

/* Colors */
body .bgDarkBlue{background-color:#0f6691; }
body .bgBlue{background-color:#00b7fa; }

/* styling */
.button{ font-weight: 300; font-family: 'Roboto', sans-serif; letter-spacing: 2px; border-radius: 2px; transition: 0.3s; }
.button.is-primary{background-color:#00b7fa;}
.button.is-primary:hover{background-color:#0f6691; transition: 0.3s;}
.input:focus{border-color:#00b7fa;}