/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Roboto', sans-serif;
}

body a {
    color: #00b7fa;
}


/* helpers */

body .generalSection {
    padding: 50px 0;
}


/* heddings*/

body h1, body h2, body h3, body h4 {
    font-weight: 700;
}

body h1 {
    font-size: 32px;
}

body h2 {
    font-size: 28px;
}

body p {
    font-size: 14px;
    font-weight: 400;
}

body p strong {
    font-weight: 700;
}


/* Colors */

body .bgDarkBlue {
    background-color: #0f6691;
}

body .bgBlue {
    background-color: #00b7fa;
}


/* styling */

.button {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    border-radius: 2px;
    transition: 0.3s;
}

.button.is-primary {
    background-color: #00b7fa;
}

.button.is-primary:hover {
    background-color: #0f6691;
    transition: 0.3s;
}

.button.is-success {
    background-color: #0f6691;
}

.button.is-success:hover {
    background-color: #00b7fa;
    transition: 0.3s;
}

.input:focus {
    border-color: #00b7fa;
}

.breadcrumb {
    padding: 10px 0;
    margin-bottom: 0;
}

.breadcrumb .logo {
    max-width: 150px;
}

.breadcrumb ul {
    margin: 10px 0;
}

.breadcrumb ul>li>a {
    color: white;
    transition: 0.5s;
}

.breadcrumb ul>li>a:hover {
    transition: 0.3s;
    color: #05A2C5;
}

.breadcrumb ul>li.is-active {
    color: white;
    font-weight: 700;
}

.breadcrumb ul>li+li::before {
    color: white;
    margin-right: 10px;
}

.sub-crumb {
    background-color: rgba(5, 165, 197, 0.05);
    padding: 10px 0;
    width: 100%;
}

nav {
    margin-bottom: 0 !important;
}

.fa.is-success{color:green; }
.fa.is-error{color:red; }
.fa.is-danger{color:red; }

.footer {
    padding: 25px 0 !important;
}


@media (max-width:1180px) {
    .container {
        margin: 0;
        position: relative;
        max-width: 100%;
        padding: 0 25px;
    }
}

@media (max-width:768px) {
    #SignUpPage{ margin-top:35px !important;
        max-width: 80%;
        margin: auto;}

        #SignUpPage figure{max-width: 250px; margin: auto; margin-bottom: 15px;}
        #SignUpPage  figure .logo{max-width: 100%; }
 
}