<app-breadcrumb [entity]="entity"></app-breadcrumb>

<section class="account-dashboard generalSection" *ngIf="entity">
    <div class="container">
        <div class="columns">
            <div class="column"> </div>
            <div class="column">
                <form #form="ngForm" (ngSubmit)="upateAccount()">
                    <div class="field">
                        <h1>Your Address</h1>
                        <strong>{{address}}</strong>
                    </div>
                    <strong>Insert your new name:</strong>
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="Text input" required [(ngModel)]="entityName" name="entityName">
                            <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                    </span>
                            <span class="icon is-small is-right">
                        <i class="fa fa-check"></i>
                    </span>
                        </div>
                    </div>
                    <div class="control has-text-centered">
                        <button [disabled]="!form.valid || isLoading" type="submit" class="button is-primary">Update</button>
                    </div>
                </form>
            </div>
            <div class="column"> </div>
        </div>
    </div>
</section>